.productsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.productsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productsHeading {
  color: white;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin-bottom: 0px;
}

.productsParagraph {
  color: white;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  margin-top: 3px;
}

.productsBottom {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.productsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #222E46;
  padding: 19px 25px;
  border-radius: 15px;
  width: 247px;
}

.productsCardHeading {
  color: white;
  margin-bottom: 0px;
  font-size: 21px;
  font-weight: 600;
  margin-top: 14px;
}

.productsCardParagraph {
  color: rgba(255, 255, 255, 0.792);
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .productsCard {
      width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .productsCard {
      width: calc(80% - 20px);
  }

  .productsHeading {
    font-size: 19px;
    text-align: center;
  }

  .productsCardHeading{
    font-size: 16px;

  }
  .productsParagraph {
    padding-inline: 29px;
    font-size: 11px;

  }

}
