body {
  background-color: #04122D;
}


html,
body {
  /* width: 100%;
      height: 100%; */
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden !important; */
}


@media screen and (max-width: 786px) {
  .brClass {
    display: none;
  }
}